table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
  font-size : 20px;
}

table{
	margin-left: auto;
	margin-right: auto;
	margin-top:100px;
	width: 1750px;
}

th,td{
	padding: 20px;
}

.warning{
	color: red;
	margin-top: 15px;
}

.Description{
	width: 10000px;
}